* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  height: 100px;
  background-color: rgb(43,43,43);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
}

#header-logo {
  font-size: 42px;
  color: rgb(254,254,254);
  font-family: 'Roboto Slab', serif;
  height: 43px;
}

#user-login i.fa-user {
  border: 1px solid rgb(180,180,180);
  border-radius: 50%;
  padding: 4px;
  color: rgb(180,180,180);
}

#user-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#user-login * {
  margin: 8px;
}

#user-login a, nav a {
  text-decoration: none;
}


section#lower-header {
  display: flex;
  align-items: flex-end;
  margin-left: 12px;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

main h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 12px;
  color: rgb(77,77,77);
}

.nav-item i {
  margin-right: 8px;
}

/* Dynamic Classes: Keep lowest in rule order */
.inactive {
  color: rgb(37,180,254);
}

.active {
  color: rgb(233,233,233);
}

.unselected {
  color: rgb(141,141,141)
}